.hero {
    background: url("../../assets/hero__back.png") center;
    background-size: cover;
    height: 734px;
}
.hero__content {
    padding: 225px 0;
    max-width: 600px;
}
.hero__title {
    line-height: 1;
    margin: 50px 0 0 0;
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 42px;
    font-weight: 700;
}
.hero__description {
    font-family: "Muli";
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 40px;
}
span.white {
    font-family: "Open Sans", sans-serif;
}
.hero__btn {
    width: 180px;
}
.hero__btn img {
    margin-right: 12px;
}
