.skill {
    padding-top: 90px;
}
.skill__header {
    text-align: center;
}
.skill__title {
    font-size: 55px;
    line-height: 66px;
    color: #323232;
    font-weight: 700;
    font-family: "Poppins";
    margin: 0;
}
.skill__description {
    font-size: 15px;
    line-height: 25px;
    color: #323232;
    font-weight: 400;
    font-family: "Open Sans";
    margin-top: 18px;
    margin-bottom: 60px;
}
.skill__item {
    padding: 25px 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    background-color: #f6f6f6;
}
.skill__column {
    padding: 20px;
}
.item__date {
    margin-top: 10px;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 46px;
    font-weight: 400;
    font-family: "Open Sans";
}
.skill .item__title {
    margin: 10px 0 0 0;
    font-size: 16px;
    letter-spacing: 0px;
    color: #ffb400;
    font-weight: 700;
    font-family: "Poppins";
}
.skill .item__description {
    margin-bottom: 0;
    font-size: 15px;
    letter-spacing: 0px;
    color: #323232;
    font-weight: 400;
    font-family: "Open Sans";
}
.round__percent {
    font-size: 39px;
    line-height: 30px;
    color: #323232;
    font-weight: 700;
    font-family: "Poppins";
}
.round__title {
    font-size: 18px;
    line-height: 28px;
    color: #323232;
    font-weight: 700;
    font-family: "Poppins";
}
.round__shape{
    margin-bottom: -180px;
}

